## Exported functions:
export("dss_check_data")
export("dss_impute_missing")
export("dss_plot_md_pattern")
export("remove_na")
export("start_dss")

## Global import of dependencies:
import(ggplot2)
import(shiny)
import(shinydashboard)
import(waiter)

## Soft import of selected functions:
importFrom("grDevices", "dev.off", "palette", "png")
importFrom("graphics", "grid", "par", "points", "text")
importFrom("stats", "aggregate", "coef", "na.omit", "predict")
importFrom("utils", "read.table", "write.csv")
importFrom("randomForest", "randomForest")
importFrom("FactoMineR", "PCA", "plot.PCA")
importFrom("mice", "md.pattern")
importFrom("missMDA", "imputePCA", "MIPCA", "plot.MIPCA")
importFrom("rrcov", "predict")
